<div class="column50Left">
    <h4>ES6 Flatten/Reduce/Map Demo</h4>
    <div class='row'>
        <textarea class="displayText">{{this.flattenDisplayText | json}}</textarea>
    </div>
    <div class='row'>
        <button  (click)="this.runFlatten()"  class="btn btn-primary">Flatten</button>
    </div>

</div>

<div class="column50Right">


    <h4>ReactiveJX Demo</h4>
    <div class='row'>
        <textarea class="displayText">{{this.rxJsDemo | json}}</textarea>
    </div>
    <div class='row'>
        <button  (click)="this.runRx()"  class="btn btn-primary">Run RxJs</button>
    </div>


</div>




 
