

<h4>Tool Tips Directive Demonstration (Hover over the icon to see the tool-tip)</h4>

<div class="row"> 
    <div class="column50Left">
        <i  appToolTip="get a job" useTriangle="true" placement="top" offset="40" class="icon-enlarge fi-lightbulb"></i>
    
        <span appToolTip="On the left" placement="left" class='spacer'>Left</span>
        <span appToolTip="On the right with all sorts of stuff to test the triangle" placement="right" class='spacer'>Right</span>
    
    </div>
    <div class="column50Right"><i appToolTip="{{this.sampleText}}" placement="bottom"  class="icon-enlarge fi-lightbulb"></i></div>
 
</div>
<h4>Custom</h4>
<div class="row">

        <span appToolTip="This uses a custom class for display of the tooltip" 
        customClass="new-tooltip" useTriangle="true"
        placement="right" class='spacer'>Custom Display</span>


</div>
