<h3>Template Driven Form Example</h3>
<p class="row">See also
  <a href="https://www.concretepage.com/angular-2/">https://www.concretepage.com/angular-2/</a>
</p>
<div class="column70Left">
  <form (ngSubmit)="onSubmit()" novalidate class=" udemy-form form" #viewChildRefToForm="ngForm">
    <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
      <table class="table">
        <tr>
          <td>
            <label for="username">Username (try Bozo for fun)</label>
            <input type="text" id="username" class="form-control" ngModel name="username" noBozos required>
          </td>

          <td>
            <button class="btn btn-primary" type="button" (click)="suggestUserName()">Suggest an Username</button>
          </td>

          <td >
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
            <div class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!
                
            </div>
          </td>
        </tr>


        <tr>
          <td>
            <label for="date">Date</label>
            <input type="date" id="date" class="form-control" ngModel name="date" required  #date="ngModel">
           
          </td>
           

          <td>

            <div class="form-control radio" *ngFor="let gender of genders">
              <label>
                <input type="radio" name="gender" ngModel [value]="gender" required> {{ gender }}
              </label>
            </div>
          </td>

          <td>
               User Data Valid: {{userData.errors |json}}
               
               <div class="help-block" *ngIf="this.checkForBozos()">Bozo Detected</div>
          </td>

        </tr>
      </table>
    </div>


    <div class="form-group row">

      <div class="column50Left">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" [ngModel]="defaultQuestion" name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
 
        <textarea name="questionAnswer" rows="3" class="form-control" [(ngModel)]="answer"></textarea>


      </div>

      <div class="column50Right">
          <div class="row"> the use of userData/model group allows from grouping the data of the form</div>
          <div class="row">Your reply: {{ answer }}</div>
          <div class="row">
              <button class="pull-right btn btn-primary" type="submit" [disabled]="!viewChildRefToForm.valid">Submit</button>
          </div>
          <div class="form-group row">
              <em>(form must be completely filled out)</em>
          </div>
      </div>


    </div>
    
  </form>
</div>
<div class="column30Right">
  <div class="row" *ngIf="submitted">
    <div>
      <h3>Your Data</h3>
      <p>Username: {{ user.username }}</p>
      <p>Mail: {{ user.email }}</p>
      <p>Secret Question:{{ user.secretQuestion }}</p>
      <p>Answer: {{ user.answer }}</p>
      <p>Gender: {{ user.gender }}</p>
      <p>Reset:
        <button (click)="this.resetDemo()" class="btn btn-small btn-red">Reset Demo</button>
      </p>
    </div>
  </div>
</div>
