<h3>Template Driven Form Example</h3>
<p class="row">See also <a href="https://www.concretepage.com/angular-2/">https://www.concretepage.com/angular-2/</a></p>
<div class="column70Left">
  <form (ngSubmit)="onSubmit()" class=" udemy-form form inline-form" #viewChildRefToForm="ngForm">
    <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">

      <label for="username">Username</label>
      <input type="text" id="username" class="form-control" ngModel name="username" required>

      <button class="btn btn-primary" type="button" (click)="suggestUserName()">Suggest an Username</button>

      <label for="email">Mail</label>
      <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
      <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
    </div>

    <p *ngIf="!userData.valid && userData.touched">User Data is invalid!</p>
    <div class="form-group row">
      <label for="secret">Secret Questions</label>
      <select id="secret" class="form-control" [ngModel]="defaultQuestion" name="secret">
        <option value="pet">Your first Pet?</option>
        <option value="teacher">Your first teacher?</option>
      </select>
    </div>
    <div class="form-group row">

      <div class="column50Left">
        <textarea name="questionAnswer" rows="3" class="form-control" [(ngModel)]="answer"></textarea>


      </div>

      <div class="column50Right">
        the use of userData/model group allows from grouping the data of the form

      </div>


    </div>
    <div class="form-group row">
      <p>Your reply: {{ answer }}</p>
      <div class="form-control radio" *ngFor="let gender of genders">
        <label>
          <input type="radio" name="gender" ngModel [value]="gender" required> {{ gender }}
        </label>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!viewChildRefToForm.valid">Submit</button>
      <em>(form must be completely filled out)</em>
    </div>
  </form>
</div>
<div class="column30Right">
  <div class="row" *ngIf="submitted">
    <div>
      <h3>Your Data</h3>
      <p>Username: {{ user.username }}</p>
      <p>Mail: {{ user.email }}</p>
      <p>Secret Question:{{ user.secretQuestion }}</p>
      <p>Answer: {{ user.answer }}</p>
      <p>Gender: {{ user.gender }}</p>
      <p>Reset:
        <button (click)="this.resetDemo()" class="btn btn-small btn-red">Reset Demo</button>
      </p>
    </div>
  </div>
</div>