<h3>Standard and Custom Pipe Demos</h3>
<div class="row">
  <div class="column50Left">
    <h4>JSON Pipe</h4>
    <div class="row">
      JsonSample: <b>{{jsonSample | json}}</b>
    </div>
  </div>
  <div class="column50Right">
    <h4>Date Pipe</h4>
    <div class="row">
      Todays date: <b>{{todaysDate | date:'short'}}</b>
    </div>
  </div>

  <div class="row">

    <div class="column50Left">
      
      <div class="row">
        <form class="form well form-inline">
          <h4>Input</h4>
          <p class="row">Input text to see it transformed. This pipe inserts spaces in hashtag runs</p>
        <textarea id="inputText" name="inputText" [(ngModel)]="inputText"></textarea> 
         
        </form>
      </div>
    </div>
     <div class="column50Left">
      <div class="row grouping hashtag-display">
      {{inputText | hashtagClean}}
      </div>
    </div>

  </div>

</div>