.general-container {
    margin: 0 auto;
    // width: 63%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    flex-direction: column;
    height: 200px;
   
  }


  .demo-three-text {
      font-size: 40px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }


  .mybox {
      background-color: #47748f;
      width: 200px;
      height: 200px;
      border-radius: 6px;
      margin: 6rem;
  }