<h3>Morph Button Demos</h3>

<div class="row grouping">

  <div class="column50Left">


    <div class="general-container">
        
      <div class="morph-button morph-container">

            <div data-action-id="55" id="morph3" class='morphing-indicator-button'>
                <span class='button-text'>Submit</span>
                <span class="complete-marker fa fa-check-circle"></span>

            </div>


      </div>



      <div class="demo-three-text">Thank You!</div>
    </div>

  </div>


  <div class="column50Right">

    Right side
  </div>


</div>
