<h3>Create New Team </h3> 
<em><a href="https://www.concretepage.com/angular-2/angular-2-4-formbuilder-example">
  https://www.concretepage.com/angular-2/angular-2-4-formbuilder-example</a></em>
<div class="row">
  <button class="btn btn-primary" (click)="loadTeam('Java Team')"> Load Default Team </button>
  <button class="btn btn-primary" (click)="resetTeamForm()"> Reset </button>
</div>

<div class="udemy-form row">
  <div class="column50Left">
    <div *ngIf="formSubmitted && teamForm.pristine" class="submitted"> Form submitted successfully. </div>
    <div class="team">
      <form class="form well" [formGroup]="teamForm" (ngSubmit)="onFormSubmit()">
        <p class="row">Team Name :
          <input type="text" size="30"  formControlName="teamName">
          <br/>
          <label *ngIf="teamForm.get('teamName').invalid && teamForm.get('teamName').dirty" class="error"> Team name is required. </label>
        </p>
        <p class="row">Team Manager :
          <input type="text" size="30"  formControlName="teamManager">
        </p>

        <b>Department :</b>
        <br>
        <div formGroupName="teamDept" class="department">
          <p class="row">Department Head :
            <input type="text" size="30"  formControlName="deptHead">
          </p>
          <p class="row">Department Name :
            <input type="text" size="30"  formControlName="deptName">
          </p>
        </div>
        <div class="all-emp">
          <b> Employees in Team :</b>
          <br>
          <br>
          <table class="table" formArrayName="employees">
            <tr *ngFor="let emp of empFormArray.controls; let idx = index" [formGroupName]="idx" class="employee">
              <td>
                <b>Employee : {{idx + 1}}</b> <button class="btn btn-small btn-red" (click)="deleteEmployee(idx)">Delete</button>
              </td>
              <td>Emp Id :
                <input type="text" size="05"  formControlName="empId">
              </td>
              <td>Emp Name :
                <input type="text" size="25"  formControlName="empName">
              </td>
              <td>Skill :
                <select formControlName="skill">
                  <option *ngFor="let skill of allSkills | async" [ngValue]="skill.name">
                    {{ skill.displayName }}
                  </option>
                </select>
              </td>
              
            </tr>
 
          </table>
          <p class="row">
              
              <button class="btn btn-small btn-primary" (click)="addEmployee()">Add More Employee</button>
            </p>

        </div>
        <br/>
        <button class="btn btn-primary" [disabled]="teamForm.invalid">SUBMIT</button>
      </form>
    </div>
  </div>
</div>