.text-highlight {
    font-family: 'Orbitron';
    
}

.expand-link-display {
    font-family: 'Orbitron';
    font-style: italic;
    font-weight: 800;
    margin-left: 10px;
    font-size: smaller;
    text-decoration: none;
    &:visited {
        color: black;
    }
    &:hover {
        color: red;
    }
}



.expand-text {
    font-size:20px;
    
}

.expand-link {
    font-size: bigger;
    text-decoration: none;
    margin-left: 5px;
    &:visited {
        color: darkred;
    }
    &:hover {
        color: red;
    }

}