<p>
  https://juristr.com/blog/2017/07/ng2-dynamic-tab-component/
  
</p>

<p>Click on tabs below</p>

<div class="row">

  <app-tabs>
    <app-tab tabTitle='Sample 1'>
      <h3>Sample 1 Content</h3>
      <div class="row">
        <blockquote>
          This is where <em>sample content</em> goes
        </blockquote>
        <ul>
          <li>alpha</li>
          <li>alpha</li>
          <li>alpha</li>
        </ul>

      </div>




    </app-tab>
    <app-tab tabTitle='Sample Longer Than Needed'>
      <blockquote>
        Different Content here
      </blockquote>

    </app-tab>
  </app-tabs>
</div>
