<div class="column50Left">
    <h3>Angular 8 Snippets</h3>
    <div class="row">
        A collection of Angular 8 demonstrations including:
    </div>
    <div class="row">
        <blockquote>
            <ul class="basic-list">
                <li>Routing</li>
                <li>Security via Okta (see Routing Menu)</li>
                <li>Standard Directives</li>
                <li>Dropdown Menus</li>
                <li>Outside Click Handling</li>
                <li>Animations</li>
                <li>Forms</li>
                <li>REST Service Calls</li>


            </ul>
        </blockquote>



    </div>
</div>
<div class="column50Right">
    <h4>NOTE:</h4>
    <div class="row">

        <br>
        <a target="_new" href={{this.swaggerUrl}}>Swagger documentation</a> is available for the services used by the reactive demos.
    </div>
    <h4>Source Code</h4>
    <div class="row">
        <a href="https://github.com/donhenton/angular8-snippets" target="_blank">GitHub Repository</a>
    </div>
</div>