 
  .tooltip-item-triangle {

    fill: tan;
    stroke: $green-color;
  }
  .tooltip-item {
    padding: 5px;
    border: thin solid $green-color;
    background-color: tan;
    color: $blue-color;
    &.new-tooltip {
      padding: 10px;
      border: 2px outset yellow;
      text-align: center;
      background-color: red;
      color: yellow;
      box-shadow: 5px 5px 5px   rgba(0, 0, 0, 0.6) ;
      width: 150px;
      border-radius: 15px;
    }
  }
  svg.new-tooltip {
    fill: red ;
    stroke: yellow;
  
  }

 

