.tooltip-container {
    position: absolute;
    z-index: 500;

     svg {
         position: absolute;
        
         border: thin solid green;
        

     }
   
}

.svg-container {
    position: absolute;
    z-index: 1010;
    border: thin solid black;
}