<h3> Indicating Active Link And Other Stuff</h3>

<div class="row">
A class indicating which route is selected can be inserted using the 'routerLinkActive' directive.
This code

</div>

<div class="row">
<blockquote>
<ul class="basic-list">
  <li><a routerLink="">Home</a> <em>(routerLink Usage)</em></li> 
  <li routerLinkActive="emphasis"><a routerLink="/routing/linkActive">This Page</a> <em>(indicator class)</em></li> 
  <li><a href="#" (click)="navigateWithPathParams($event)">Programmatic Navigation and Path Parameters</a> <em>(relative programmatic nav)</em></li> 
  <li><a href="#" (click)="navigateWithQueryParams($event)">Programmatic Navigation and Query Parameters</a></li> 
</ul>
</blockquote>
 
</div>